<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      body {
            background: #D9D9D9;
           
          }
          h2 {
            
          font-size: 90px;
          font-weight: 600;
          font-size: 50px;
          font-weight: 600;
          letter-spacing:-3px;
          margin-bottom: 30px;
          line-height: 102px;
          text-align: center;
          
          color:transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-image: -webkit-linear-gradient(left, #593dd5, green);
          background-image:    -moz-linear-gradient(left, #593dd5, green); 
          background-image:      -o-linear-gradient(left, #593dd5, green); 
          
          
          }
          .form-group{
            font-size: 20px;
            text-align: left;
            
          }
          .md-form  {
            font-size: 20px;
            text-align: left;
          }
      
      </style>
</head>

<body>
</body>



  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">
  <div class="container">

  
  <h2>Registrar</h2>
  <form action="/Ed/show" method="POST">
    <div class="form-group">
      <label for="Nome">Nome</label>
      <input class="form-control" type="text" placeholder="Nome" name="name"
        required>
    </div>
    <div class="form-group">
      <label for="Sobrenome">Sobrenome</label>
      <input class="form-control" type="text" placeholder="Sobrenome"
        name="sobrenome" required>
    </div>
    <div class="form-group">
      <label for="CPF">CPF</label>
      <input class="form-control" id="pin" type="text"placeholder="000.000.000-00" name="cpf" required  minlength="0" maxlength="14">
    </div>
    <div class="form-group">
      <label for="Filme">Nome Do Filme</label>
      <input class="form-control" type="text" placeholder="Nome Do Filme"
        name="filme" required>
    </div>
    <div class="form-group">
      <label for="Genero">Gênero Do Filme</label>
      <input class="form-control" type="text" placeholder="Gênero Do Filme" name="genero"
        required>
    </div>
    <div class="form-group">
      <label for="Ano">Data Do Filme</label>
      <input class="form-control" type="date" placeholder="00/00/0000"
        name="ano" required>
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input class="form-control" id=ip type="text"
        placeholder="xxxxxxx@xxxxxx.com" name="email" required minlength="10"
        maxlength="30">
    </div>
    <div class="md-form">
      <label for="Opiniao">Opinião sobre o filme?</label>
      <textarea id="form7" class="md-textarea form-control" placeholder="" name="opiniao" rows="3"></textarea><br>
    </div>

    <input class="btn btn-success" type="submit" value="Cadastrar">

  </form>
</div>

</body>