<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body  {
    
      background-color: #0B0C0D;
      font-family: 'Poppins', sans-serif;
  }
    
    footer {
      color:white ;
      padding: 10px;
      margin-top: 10px;
      text-align: center;
    }
    h1 {
      font-size: 90px;
    font-weight: 600;
    font-size: 50px;
    font-weight: 600;
    letter-spacing:-3px;
    margin-bottom: 30px;
    line-height: 102px;
    text-align: center;
    
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image:    -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image:      -o-linear-gradient(left, #593dd5, #fc2b00); 
   
    }

  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link " href="/data/registra">Cadastro Pessoal </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/amand/cadastramento">Cadastro de Jogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Ed/cadastra">Cadastro de Filme</a>
      </li>
    </ul>
  </nav>
  <div class="container"> 
    
    <h1>BIBLIOTECA DE JOGOS/FILME</h1>
  </div>
    <footer>
      <h4><B> Transformando seus sonhos em realidade  </B></h4>
      <h4><B> Aqui você pode cadastras seus jogos e filmes favoritos </B></h4>
    </footer>


</body>
</html>